body {
  font-family: Arial, sans-serif;
  font-weight: bold;
  background-color: black;
  color: white;
  text-align: center;
  margin: 20px;
  padding: 15px;
  border: 2px solid white;
}

h1 {
  color: yellow;
}

p {
  color: blue;
}

.datos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.datos div {
  display: flex;
  align-items: center;
  gap: 10px;
}

label {
  color: red;
  width: 80px;
  text-align: right;
}

input {
  width: 220px;
  padding: 8px;
  border: none;
  border-radius: 5px;
  background-color: lightgray;
}


#nombre {
  border-left: 5px solid red;
}

#edad {
  border-left: 5px solid yellow;
}


#correo {
  border-left: 5px solid blue;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  background-color: green;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: darkgreen;
}

/* Tabla */
table {
  margin: 30px auto;
  border-collapse: collapse;
  color: white;
}

th,
td {
  border: 1px solid white;
  padding: 10px;
}

th {
  background-color: #333;
}