h1 {
    color: cornflowerblue;
}

p {
    color: cornflowerblue;
}

body {
    background-color: beige;
    color: cornflowerblue;
}

.campo {
    justify-content: center;
    gap: 10px;
    margin-bottom: 15px;
    display: flex;
}

.tecnologias {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}